@media (max-width: 768px) {
  .box {
    display: flex;
    flex-direction: column;
  }

  h1 {
    max-width: 100%;
    font-size: 55px;
  }

  .programs {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .programs div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .programs img {
    width: 150px;
  }

  .trusted {
    top: 835px;
    left: 20%;
  }

  footer nav ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .footer-contact-links {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .footer-contact {
    flex-direction: column;
  }

  .form-content {
    padding: 50px;
  }
}
